<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io/site.manifest">
        </head>
<body>

    <div class="login-container">
        <h2>Bem-vindo</h2>

        <form id="loginForm">
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
    
            <button type="submit">Entrar</button>
    
            <p>
                <a class="btn" href="/register">Novo Usuário</a>
            </p>
            <p>
                <a style="color: rgb(73, 73, 73); font-size: 16px; text-decoration: none;" href="#"> Reset de senha </a>
            </p>
            <div>

            </div>
        </form>
    </div>
    
    <script>
    document.getElementById("loginForm").addEventListener("submit", function(e) {
        e.preventDefault(); // impede recarregar página
    
        const formData = new FormData(this);
    
        fetch("/login", {
            method: "POST",
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                //  LOGIN OK → REDIRECIONA
                window.location.href = "/pagina_inicio";
            } else {
                //  LOGIN ERRADO → POPUP
                alert(data.message);
            }
        })
        .catch(() => {
            alert("Erro ao conectar com o servidor");
        });
    });
    </script>
</body>
</html>