<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io/site.manifest">
</head>

<body>
    <aside class="sidebar">
        <div class="perfil-side">
            <span class="icon">👤</span>
            <a href="#">Meu perfil</a>
        </div>
        
        <h2>System</h2>
        <a href="#">Dashboard</a>
        <a href="#">Separation</a>
        <a href="#">Tryout</a>
        <a href="#">Conference</a>
        <a href="#">Expedition</a>

        <div class="divider"></div>

        <a href="#">Configuration</a>
    </aside>

    <main class="content">
        <h1>Dashboard</h1>
        <p>Teste de paginação</p>
    </main>
</body>
</html>